/* style.css */
body{

  color: green;
  font-size: px;
  font-family: Roboto;
}
h1{
  font-family: Roboto;
  color: red;
  font-weight: lighter;
  font-size: 80px;
}
h2 {
  font-family: Roboto;
  color: black;
  font-weight: normal;
  font-size: 20px;
}
h3 {
  font-family: Roboto;
  color: black;
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: green;
}
a:hover {
  text-decoration: none;
  color: red;
}

.background-header {
    background-image: url(img/back2.jpg);
  background-size: 1440px 2142px;
}

.skyline {
    border: 5px solid black;
    background-image: url(img/skylinee.jpg);
    background-size: 1000px 327px;
    padding-top: 1px;
    background-repeat: no-repeat;
}

.header {
    background-image: url(img/renter-logo.png);
    background-size: 1000px 601px;
    background-repeat: no-repeat;
}


.box{
  border: 5px solid black;
  text-align: center;
  margin-top: 52px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 22px;
}

.containeer {
    background-color: transparent;
    max-width: 988px;
    padding: 0;
    margin: auto;
    margin-bottom: -20px;


}

hr{
  border-top: 2px solid black;
  margin-left: 100px;
  margin-right: 100px;

}

.street {
    background-color: transparent;
    padding-bottom: 200px;
    padding-right: 192px;
    padding-left: 192px;
    padding-top: 177px;
    }

.small-box {
    margin-top: -118px;
    margin-left: -136px;
    margin-right: 48px;
    margin-bottom: -128px;
    padding-left: 48px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 48px;
    text-align: left;
    }

.small-text {
    margin-top: -139px;
    margin-left: 20px;
    margin-right: 114px;
    margin-bottom: -110px;
    text-align: left
}

.smalll-box {
    border: 5px solid black;
    margin-top: 186px;
    margin-left: 58px;
    margin-right: -143px;
    margin-bottom: -137px;
    padding-left: 547px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 48px;
    text-align: left;

}

.smalll-text {
    margin-top: -133px;
    margin-left: 100px;
    margin-right: 24px;
    margin-bottom: 0px;
    text-align: left;
}

.smallll-box {
  border: 5px solid black;
    margin-top: 73px;
    margin-left: -138px;
    margin-right: 44px;
    margin-bottom: -133px;
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 48px;
  text-align: left;

}

.smallll-text {
    margin-top: -135px;
    margin-left: 20px;
    margin-right: 114px;
    margin-bottom: -110px;
    text-align: left
}

.smalllll-box {
  border: 5px solid black;
    margin-top: 183px;
    margin-left: 60px;
    margin-right: -144px;
    margin-bottom: -136px;
    padding-left: 48px;
    padding-top: 50px;
    padding-bottom: 38px;
    padding-right: 33px;
  text-align: right;

}

.smalllll-text {
    margin-top: -133px;
    margin-left: 102px;
    margin-right: 32px;
    margin-bottom: -110px;
    text-align: left;
}

.whitee {
  box-shadow: 2px 2px 2px 6px rgba(240, 240, 240, 0.1);
}

.whitee:hover {
  
}


.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.form {
    background-color: white;
    padding-bottom: 20px;
    padding-right: 192px;
    padding-left: 192px;
    padding-top: 64px;
    margin-left: 228px;
    margin-top: 0px;
    margin-bottom: 78px;
    margin-right: 228px;
    }



.footer {
  background-color: black;
  padding: 100px 0;
}


